@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');



.jumbotron{
	background-color: #bdd4e7;
}
.nav{
	font-family: 'Oswald', sans-serif;
}
.bg-custom{
	background-color:#80475e;
}
.card-header{
	background-color:#bdd4e7;
}
.card-header h2{
	color:white;
}
.card-custom{
	background-color:#bdd4e7;
}
.nav-link :hover{
	background-color:#a1869e;
}
.nav-link:active{
	background-color: #a1869e;
}
body{ 
	background-color:#abababab;
	font-family: 'Roboto', sans-serif;
}