@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto|Spectral+SC');

.jumbotron{
	background-color: #bdd4e7;
	font-family: 'Roboto', sans-serif;
}
.nav{
	font-family: 'Spectral SC', serif;
}
.bg-custom{
	background-color:#80475e;
}
.card-header{
	background-color:#bdd4e7;
}

.card-custom{
	background-color:#bdd4e7;
}
.nav-link :hover{
	background-color:#a1869e;
}
.nav-link:active{
	background-color: #a1869e;
}
body{ 
background-color:#abababab;
}
.nav{
}